@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    background-color: black;
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
}
.navbar{
    margin: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    border: 2px solid white;
    border-radius: 10px;
}
.navbar h1{
    margin: 0;
    padding: 0;
    color: orange;
}
.navbar a{
    text-decoration: none;
    font-size: 18px;
}
 .navbar .btn{
    border: none;
    border-radius: 10px;
    border: 1px solid white;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;

}
.home {
    margin: auto;
    padding: 10px;
    width: 90%;
    border: 2px solid white;
    border-radius: 10px;
    height: 80vh;
}
.content{
    width: 70%;
    margin-left: 20px;
   
    
}
.content h2{
    font-size: 50px;
    text-align: left;
    margin-top: 10%;
    margin-bottom: 10px;
    
}
.content p{
     text-align: left;
}
.content .btn1{
    display: flex;
    border: none;
    border-radius: 10px;
    border: 1px solid white;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    margin: 0;
    text-align: left;
}
.about{
    height: 50vh;
    margin: auto;
    padding: 10px;
    width: 90%;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.projects{
    height: 50vh;
    margin: auto;
    padding: 10px;
    width: 90%;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.contact{
    height: 50vh;
    margin: auto;
    padding: 10px;
    width: 90%;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.fotter{
    display: flex;
    margin: auto;
    padding: 10px;
    width: 90%;
    border: 2px solid white;
    border-radius: 10px;
    align-items: center;
    justify-content: space-evenly;
}
.btn1{
    border: none;
    border-radius: 10px;
    border: 1px solid white;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;

}